﻿@model JsonTranslator.Models.TranslateViewModel

<head>
    <style>
        .upload {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            width: 100%;
        }

        .upload + label {
            width: 100%;
        }

        .upload:focus + label,
        .upload + label:hover {
            cursor: pointer;
        }
    </style>
</head>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function(){
            $("input[type='file']").change(function () {

                var filePath = document.getElementById('Data').value.replace(/\\/, "/");
                var fileName = filePath.split("\\").pop();
                document.getElementById("inputLabel").textContent = fileName;
            });
        });
    </script>
}

<body>
    @using (Html.BeginForm("Index",
    "Home",
    FormMethod.Post,
    new { enctype = "multipart/form-data" }))
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Data, new { type = "file", @class = "upload " })
                    @Html.LabelFor(m => m.Data, "Upload File...", new { type = "file",@id="inputLabel", @class = "btn btn-primary" })
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-md-12"><br /></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    @Html.DropDownListFor(m => m.LanguageFromSelected, Model.AllLanguages, "Autodectectar", new { @class = "btn btn-primary dropdown-toggle" })
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    @Html.DropDownListFor(m => m.LanguageToSelected, Model.AllLanguages, new { @class = "btn btn-primary dropdown-toggle" })
                </div>
                <div class="col-md-2"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <input class="btn btn-outline-primary" type="submit" style="width:100%; max-width:100%" value="Translate" formaction="@Url.Action("/Download")" />
                </div>
                <div class="col-md-4"></div>
            </div>
            <br />
            <div style="color:red" class="row">

                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <b>
                        @ViewBag.Message
                    </b>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    }
</body>