﻿
@{
    ViewBag.Title = "MainMenu";
}
 
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary" style="width:100%;max-width:100%">
                <a style="color:aliceblue" class="btn-block" href="~/Traductor/Languages">All languages</a>
            </button>
        </div>
        <div class="col-md-6" style="margin-top:5px"><b>Encuentra todos los idiomas disponibles (ISO639-1)</b></div>
     </div>

<div style="margin-top:5px" class="row">
    <div class="col-md-2" >
        <button class="btn btn-primary" style="width:100%;max-width:100%">
            <a style="color:aliceblue" href="~/Home/Index">Json Translator</a>
        </button>
    </div>
    <div class="col-md-6" style="margin-top:5px"><b>Carga un archivo JSON y traduce todos los valores al idioma deseado </b></div>
</div>

<div style="margin-top:5px" class="row">
    <div class="col-md-2">
        <button class="btn btn-primary" style="width:100%;max-width:100%">
            <a style="color:aliceblue" href="~/Traductor/TraductorTexto">Traductor de Texto</a>
        </button>
    </div>
    <div class="col-md-4" style="margin-top:5px"><b>Traduce cualquier texto al idioma deseado </b></div>
</div> 

