﻿@model Proyecto_Spot_it_Free.Artista
<br /><br />
@{
    ViewBag.Title = "Detalles de Artistas";
    Usuario user = (Usuario)Session["Usuario"];
    if (user == null)
    {
        Response.Redirect("~/Principal/Principal");
    }
}

      <style>
                /*
          .thumbnail {
                 width: 240px;
                 height: 240px;
                 margin-bottom: 50px;
                 margin-right:50px;
                 align-items:center;
                 border:none;
             }


             .image {
                 width: 100%;
                 height: 100%;

              }

                 .image img {
                     -webkit-transition: all 1s ease;  Safari and Chrome
             -moz-transition: all 1s ease;
             -ms-transition: all 1s ease;
             -o-transition: all 1s ease;
             transition: all 1s ease;
             }

             .image :hover img {
                 -webkit-transform: scale(1.04);
                 -moz-transform: scale(1.04);
                 -ms-transform: scale(1.04);
                 -o-transform: scale(1.04);
                 transform: scale(1.04);
             }

             .img__description:hover {
                 visibility: visible;
                 opacity: 1;
             }

             .img__description {
                 position: absolute;
                 top: 0;
                 bottom: 0;
                 left: 0;
                 right: 0;
                 background: rgba(29, 106, 154, 0.72);
                 color: #fff;
                 visibility: hidden;
                 opacity: 0;
                 /* transition effect. not necessary
                 transition: opacity .2s, visibility .2s;
             }

             #oo:hover {
                 visibility: visible;
                 opacity: 1;
             }


             */



                * {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    border: none;
                }

                /* relevant styles */
                .img__wrap {
                    position: relative;
                    height: 280px;
                    width: 280px;
                    top: -10px;
                }

          .img__description {
              position: absolute;
              margin-top:0px;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background-color: #464545;
              color: #fff;
              visibility: hidden;
              opacity: 0;
              width: 280px;
              height: 280px;;
              /* transition effect. not necessary */
              transition: opacity .2s, visibility .2s;
              border: none;
          }

                .img__wrap:hover .img__description {
                    visibility: visible;
                    opacity: 1;
                    border: none;
                }

                .img__wrap:hover {
                }

                 body {
                    color: #ffffff;
                }
          img {
              border-radius: 30px 30px 30px 30px;
              -moz-border-radius: 30px 30px 30px 30px;
              -webkit-border-radius: 30px 30px 30px 30px;
              border: 0px solid #000000;
          }
     
</style>
      <body>
          <h2 style="text-align:center">@Model.Nombre_artista</h2>

          <div>
              <hr />
              <p style="text-align:center;"><img style="box-shadow: 2px 2px 1px grey;" src="~/Images/@Model.Usuario1.Imagen" width="300" height="300" /></p>
              <p style="text-align:center">@Model.Usuario1.Localidad , @Model.Usuario1.Pais</p>
              <div style="text-align:center"><a class="btn btn-default" style="align-self:center" href="mailto:@Model.Usuario1.Mail?Subject=Hola%20,te%20he%20descubierto%20en%20Spot%20It%20Free" target="_top"><button>Contacta con @Model.Nombre_artista</button></a></div>
              <hr />
          </div>
          <h1 style="text-align:center">Discos del artista</h1>
          @{
        if (user.Nick == Model.Usuario1.Nick)
        {
          <p><a href="~/Discos/Create?nickusuario=@Model.Usuario1.Nick"> Añadir un nuevo disco </a></p>
}

          }
          <hr />
          <div style="margin-left:-40px">
              @foreach (var item in Model.Disco)
        {
          <a href="@Url.Action("Details", "Discos", new { id = item.Id})">
              <div class="thumbnail" style="display:inline-block;border:none;background-color:#3E3D3D;">
                  <div class="img__wrap">
                      <img class="img__img" src="~/Portadas/@item.Imagen" width="280 px" height="280 px" style="margin-bottom:100px" />
                      <h3 style=" border-radius: 30px 30px 30px 30px;-moz-border-radius: 30px 30px 30px 30px;
                        -webkit-border-radius: 30px 30px 30px 30px; border: 0px solid #000000; font-weight:150;
                        -webkit-text-stroke: 0.8px black;" class="img__description">
                          • @item.Nombre<hr />
                          Canciones en el disco: @item.Cancion.Count()
                      </h3>
                  </div>
              </div>
          </a>
}

          </div>


          <p>

          </p>


      </body>
