﻿
@{
    ViewBag.Title = "Languages";
}

@model JsonTranslator.Models.ViewModels.LanguagesViewModel


<body>

    <div class="table">
        <div class="row">

            @foreach (var item in Model.languages)
            {
                JsonTranslator.Models.Language language = (JsonTranslator.Models.Language)item;
                <div class="col-md-3" style="background-color:#ccffe6">@language.LanguageDescription</div>
                <div class="col-md-1" style="background-color:#e6fff2">@language.LanguageCode</div>
            }

        </div>
    </div>
</body>