﻿@model JsonTranslator.Models.ViewModels.TraductorTextoViewModel

@{
    ViewBag.Title = "TraductorTexto";
}

<body>
    @using (Html.BeginForm("Traductor",
    "Translate",
    FormMethod.Post,
    new { enctype = "multipart/form-data" }))
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-md-12"><br /></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.DropDownListFor(m => m.LanguageFromSelected, Model.AllLanguages, "Autodectectar", new { @class = "btn btn-primary dropdown-toggle", @style = "width:100%;max-width: 100%;" })
                </div>

                <div class="col-md-6">
                    @Html.DropDownListFor(m => m.LanguageToSelected, Model.AllLanguages, new { @class = "btn btn-primary dropdown-toggle", @style = "width:100%;max-width: 100%;" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    @Html.TextAreaFor(x => x.data, new { @rows = 5, @class = "form-control form-control-full", @style = "width: 100%; max-width: 100%; min-height: 100%; height: auto" })
                </div>
                <div class="col-md-6">
                    <span  class="form-control form-control-full" style=" width: 100%; max-width: 100%; min-height: 100%; height: auto">
                        @Html.DisplayTextFor(x => x.translatedData )
                    </span>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <input class="btn btn-outline-primary" type="submit" style="width:100%; max-width:100%" value="Translate" formaction="@Url.Action("/Translate")" />
                </div>
                <div class="col-md-4"></div>
            </div>
            <br />
            <div style="color:red" class="row">

                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <b>
                        @ViewBag.Message
                    </b>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    }
</body>