﻿@model Proyecto_Spot_it_Free.Usuario

@{
  ViewBag.Title = "Cerrar Sesión";
}

<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
<link rel="stylesheet" href="~/Content/Style1.css">
<link rel="stylesheet" href="~/Content/bootstrap.css">
<link rel="stylesheet" href="~/Content/bootstrap.min.css">

<br /><br /><br /><br />
<html>
<body>
    <fieldset>
        <legend>Cerrar Sesión</legend>
        @using (Html.BeginForm())
        {   
            Usuario user = (Usuario)Session["Usuario"];
            <h4 align="center">@user.Nick has cerrado la sesión </h4>
            Session.Clear();
            <h4 align="center">@Html.ActionLink("Volver a Spot-It Free", "Principal", "Principal")</h4>
        }
        
    </fieldset>
</body>

</html>
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


