﻿@model Proyecto_Spot_it_Free.Usuario

@{
  ViewBag.Title = "Principal";
}

<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
<link rel="stylesheet" href="~/Content/Style1.css">
<link rel="stylesheet" href="~/Content/bootstrap.css">
<link rel="stylesheet" href="~/Content/bootstrap.min.css">

<html>
<body>
    <center>

        <h1 align="center">Novedades de Spot-It Free</h1>

        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
        <fieldset>


            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @if (@ViewBag.Message != null)
            {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
            }

            <br />
            @* Holaaaaaaaaa *@
            @using (Html.BeginForm())
            {
                Usuario user = (Usuario)Session["Usuario"];

                if (user == null)
                {

                <div class="login-wrap-2">
                    <div class="login-html">
                        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-2" class="tab"></label>
                        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-1" class="tab">Inicio de Sesión</label>

                        <div class="login-form">
                            <div class="sign-in-htm">

                                <div class="group">
                                    @Html.LabelFor(a => a.Nick)
                                    @Html.TextBoxFor(a => a.Nick)
                                    @Html.ValidationMessageFor(a => a.Nick)
                                </div>

                                <div class="group">

                                    @Html.LabelFor(a => a.Pass)
                                    @Html.PasswordFor(a => a.Pass)
                                    @Html.ValidationMessageFor(a => a.Pass)
                                    <h3 align="center">Usuario/Password incorrectos</h3>
                                </div>

                                <input type="submit" value="Login" />

                                <br />
                                <div class="hr"></div>
                                <br />

                                <div class="foot-lnk">
                                    <a  href="@Url.Action("Index","Restaura")"> ¿Has olvidado tu contraseña?</a> 
                                </div>
                                <h3 align="center"><a href="~/Usuarios/Create"> Regístrate</a></h3>


                            </div>
                        </div>
                    </div>
                </div>
                }
                else
                {
                }
            }
        </fieldset>
        }

    </center>
    <br />
    <br />
</body>
</html>