﻿@model Proyecto_Spot_it_Free.Usuario

@{
    ViewBag.Title = "UserDashBoard";
}

<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
<link rel="stylesheet" href="~/Content/Style1.css">
<link rel="stylesheet" href="~/Content/bootstrap.css">
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<style>
    html, body {
        height: 100%;
        background-color: #464545;
        color: #ffffff;
    }

    .center {
        margin: auto;
        position: relative;
        text-align: center;
        top: 50%;
        width: 20%;
    }
</style>
<br /><br />
<html>
<body>
    <fieldset>

        @using (Html.BeginForm())
        {
            Usuario user = (Usuario)Session["Usuario"];

            if (user != null)
            {
                <h3 align="center">Bienvenido a Spot-It Free @user.Nombre</h3>
                <div style="width:400px" class="center">
                    <a href="~/Explora/Index"><h3> ¿Descubrimos nueva música? </h3></a>
                </div>
                try
                {
                    if (user.Artista.Nombre_artista != null)
                    {
                        <div style="width:400px" class="center">
                            <h3> o...</h3>
                            <a href="@Url.Action("Details","Artistas", new {id=user.Nick})"><h3> ¿Nos descubres tu música? </h3></a>
                        </div>
                    }
                }
                catch (Exception e) { }
            }

            else
            {
                Response.Redirect("~/Principal/Principal");
            }

        }

    </fieldset>

</body>

</html>