﻿@model Proyecto_Spot_it_Free.Cancion

@{
    ViewBag.Title = "Crear Canción";
}
<br /><br />
<h2 style = "color:white">Crear Canción</h2>


@using (Html.BeginForm("Create", "Canciones", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Titulo, htmlAttributes: new { style = "color:white", @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
        </div>
    </div>
    <!--
    <div class="form-group">
        @Html.LabelFor(model => model.Valoracion, htmlAttributes: new { style = "color:white", @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Valoracion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Valoracion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Votos, htmlAttributes: new {style = "color:white", @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Votos, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Votos, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Reproducciones, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reproducciones, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Reproducciones, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Genero, "Genero", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Genero", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
        </div>
    </div>
        !-->
    <div class="form-group">
        @Html.LabelFor(model => model.Disco, "Disco", htmlAttributes: new { style = "color:white", @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Disco", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Disco, "", new { @class = "text-danger" })
        </div>
    </div>
        
    <div class="form-group">
        @Html.LabelFor(model => model.Visible, htmlAttributes: new { style = "color:white", @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input checked="checked" name="VisibleC" type="checkbox" value="true" />
        </div>
    </div>


    <div class="form-group">
        <input style="margin-left:130px; color:white" type="file" name="FileAudio"/>
    </div>





    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
