﻿@model Proyecto_Spot_it_Free.Cancion

@{
    ViewBag.Title = "Detalles de Canciones";
}
<br /><br />
      <style>
          body {
              color: #ffffff;
          }
      </style>
      <body>
          <h2>Detalles de la Canción</h2>

          <div>
              <hr />
              <dl class="dl-horizontal">
                  <table>
                      <tr>
                          <th>Titulo de la cancion:</th>
                          <th>  @Model.Titulo </th>
                      </tr>
                      <tr>
                          <td>Del disco:  </td>
                          <td><a href="@Url.Action("Details","Discos", new {id=Model.Disco1.Id})"> @Model.Disco1.Nombre </a></td>
                      </tr>
                      <tr>

                          <td>Reproducir</td>
                          <td>
                              <audio controls style="width:800px">
                                  <source src="~/Song/@Model.ubi" type="audio/mpeg">
                                  Tu navegador no puede reproducir audios .
                              </audio>
                          </td>
                      </tr>
                  </table>
              </dl>
          </div>
          <a href="@Url.Action("Details", "Discos", new { id = Model.Disco1.Id})">Volver</a>


      </body>