﻿@model Proyecto_Spot_it_Free.Cancion

@{
    ViewBag.Title = "Editar Canciones";
}
<br /><br />
      <style>
          body {
              color: #ffffff;
          }
      </style>
      <body>
          <h2>Editar Canciones</h2>


          @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()

      <div class="form-horizontal">

          <hr />
          @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          @Html.HiddenFor(model => model.Id)

          <div class="form-group">
              @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                  @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.Valoracion, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.Valoracion, new { htmlAttributes = new { @class = "form-control" } })
                  @Html.ValidationMessageFor(model => model.Valoracion, "", new { @class = "text-danger" })
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.Votos, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.Votos, new { htmlAttributes = new { @class = "form-control" } })
                  @Html.ValidationMessageFor(model => model.Votos, "", new { @class = "text-danger" })
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.Reproducciones, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.Reproducciones, new { htmlAttributes = new { @class = "form-control" } })
                  @Html.ValidationMessageFor(model => model.Reproducciones, "", new { @class = "text-danger" })
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.Genero, "Genero", htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.DropDownList("Genero", null, htmlAttributes: new { @class = "form-control" })
                  @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.Disco, "Disco", htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.DropDownList("Disco", null, htmlAttributes: new { @class = "form-control" })
                  @Html.ValidationMessageFor(model => model.Disco, "", new { @class = "text-danger" })
              </div>
          </div>

          <div class="form-group">
              @Html.LabelFor(model => model.Visible, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.Visible, new { htmlAttributes = new { @class = "form-control" } })
                  @Html.ValidationMessageFor(model => model.Visible, "", new { @class = "text-danger" })
              </div>
          </div>

          <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                  <input type="submit" value="Guardar cambios" class="btn btn-default" />
              </div>
          </div>
      </div>
}

      <div>
          <a href="@Url.Action("Details", "Discos", new { id = Model.Disco1.Id})">Volver</a>
      </div>

          @section Scripts {
              @Scripts.Render("~/bundles/jqueryval")
          }
      </body>