﻿<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api traductor </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="container body-content">
        <header>
            <div class="row">

                <div class="col-md-3" onclick="location.href='/'">
                    <button class="btn btn-light" style="width:100%">
                        <b>Home</b>
                    </button>
                </div>
                <div class="col-md-3" onclick="location.href='/Traductor/TraductorTexto'">
                    <button class="btn btn-light" style="width:100%">
                        <b>Traductor de Texto</b>
                    </button>
                </div>
                <div class="col-md-3" onclick="location.href='/Home/Index'">
                    <button class="btn btn-light" style="width:100%">
                        <b>Traductor de JSON</b>
                    </button>
                </div>
                <div class="col-md-3" onclick="location.href='/Traductor/Languages'">
                    <button class="btn btn-light" style="width:100%">
                        <b >Ver todos los idiomas</b>
                    </button>
                </div>
            </div>
        </header>
        <hr />

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - <a href="https://linkedin.com/in/torgaiv">F. Iván G. Torres</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
