﻿@model IEnumerable<Proyecto_Spot_it_Free.Disco>

@{
    ViewBag.Title = "Discos";
    Usuario user = (Usuario)Session["Usuario"];
}

<style>
    body{
        color:#ffffff;
    }
</style>
<br /><br />
      <body>
          <h2>Discos</h2>

          <p>
              @Html.ActionLink("Añadir un nuevo disco", "Create")
          </p>
          <table class="table">
              <tr>
                  <th>
                      @Html.DisplayNameFor(model => model.Nombre)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Visible)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Imagen)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Artista1.Nombre_artista)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Genero1.Descripcion)
                  </th>
                  <th></th>
              </tr>

              @foreach (var item in Model)
        {
          <tr>
              <td>
                  @Html.DisplayFor(modelItem => item.Nombre)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Visible)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Imagen)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Artista1.Nombre_artista)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Genero1.Descripcion)
              </td>

              @if (user.Tipo == 1)
        {
          <td>
              @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
              @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
              @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
          </td>
}
              @if (user.Tipo != 1)
        {
          <td>
              @Html.ActionLink("Detalles", "Details", new { id = item.Id })
          </td>
}
          </tr>
}

          </table>
      </body>