﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="app">
        {{message}}
    </div>
</div>

@section Scripts{

    <script>
        var app = new Vue({
            el: "#app",
            data:
            {
                message: "Hola mundo desde vue"
            }
        })
    </script>
}