﻿@model Proyecto_Spot_it_Free.Lista

@{
    ViewBag.Title = "Borrar lista";
}
<style>
    body {
        background-color: #464545;
        color: #ffffff;
    }
</style>
<body>
    <h2>Borrar Lista de Reproducción</h2>

    <h3>¿Estas seguro de que quieres borrar esta lista?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Visible)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Visible)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Usuario1.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Usuario1.Nombre)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-default" /> |
                @Html.ActionLink("Volver", "Index")
            </div>
        }
    </div>
</body>