﻿@model Proyecto_Spot_it_Free.Lista

@{
    ViewBag.Title = "Detalles de Lista";
}
<style>
    body {
        background-color: #464545;
        color: #ffffff;
    }
</style>
<body>
    <h2>Detalles de Lista de Reproducción</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Visible)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Visible)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Usuario1.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Usuario1.Nombre)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Volver", "Index")
    </p>
</body>