﻿@page
@model IndexModel

@{
    ViewData["Title"] = "Cool Crossword";
}

<div class="text-center">
    <div id="app">

        <div class="row">
            <div class="btn-group">
                <button class="btn btn-primary" v-on:click="getDefaultCrosswordAsJson">Default Crossword as Json</button>
                <button class="btn btn-primary" v-on:click="getDefaultCrosswordAsText">Default Crossword as Text</button>
            </div>

            <div class="col-md-3"></div>

            <div class="btn-group">
                <button class="btn btn-success" v-on:click="getDefaultCrosswordSolvedAsJson">Default Crossword as Json</button>
                <button class="btn btn-success" v-on:click="getDefaultCrosswordSolvedAsText">Default Crossword as Text</button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div v-if="whiteSpaceStyle">
                    <template v-for="line in defaultCrossword.split('\n')">
                        {{line}}
                        <br>
                    </template>
                </div>
                <div v-else>
                    {{defaultCrossword}}
                </div>
            </div>
            <div class="col-md-6">
                <div v-if="whiteSpaceStyleSolved">
                    <template v-for="line in solvedCrossword.split('\n')">
                        {{line}}
                        <br>
                    </template>
                </div>
                <div v-else>
                    {{solvedCrossword}}
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>

        var app = new Vue({
            el: "#app",
            data:
            {
                defaultCrossword: "",
                solvedCrossword: "",
                whiteSpaceStyle: false,
                whiteSpaceStyleSolved: false,

            },
            methods: {
                getDefaultCrosswordAsJson: function () {
                    this.$http.get("https://localhost:44357/Crossword/api/GetDefaultCrosswordAsJson").then(function (response) {
                        this.whiteSpaceStyle = false;
                        this.defaultCrossword = response.body;
                    });
                },
                getDefaultCrosswordAsText: function () {
                    this.$http.get("https://localhost:44357/Crossword/api/GetDefaultCrosswordAsText").then(function (response) {
                        this.whiteSpaceStyle = true;
                        this.defaultCrossword = response.body;
                    });
                },
                getDefaultCrosswordSolvedAsJson: function () {
                    this.$http.get("https://localhost:44357/Crossword/api/GetDefaultCrosswordSolvedAsJson").then(function (response) {
                        this.whiteSpaceStyleSolved = false;
                        this.solvedCrossword = response.body;
                    });
                },
                getDefaultCrosswordSolvedAsText: function () {
                    this.$http.get("https://localhost:44357/Crossword/api/getDefaultCrosswordSolvedAsText").then(function (response) {
                        this.whiteSpaceStyleSolved = true;
                        this.solvedCrossword = response.body;
                    });
                },
                getSolvedCrossword: function () {
                    axios.post("http://localhosts:44357/Crossword/api/ResolveCrossword", {
                        jsonData: JSON.stringify(this.defaultCrossword)
                    })
                        .then(function (response) {
                            this.solvedCrossword = response.body;
                        })
                }
            }
        }
        )
    </script>

}