﻿@model Proyecto_Spot_it_Free.Usuario

@{
    ViewBag.Title = "Nuevo Usuario";
}
<style>
    input[type='checkbox'] {
        zoom: 1.5;
        transform: scale(1.5);
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
        -moz-transform: scale(1.5);
        transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }

        input[type='checkbox']:checked {
            background: #abd;
        }
    #myCheck:checked + #area {
        display: block !important;
    }

   body {
        background-color: #464545;
        color: #ffffff;
    }
    label {
        color: #ffffff;
    }
    .control-label {
        color: #ffffff;
    }
    p {
        color: #ffffff;
    }

</style>

<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
<link rel="stylesheet" href="~/Content/Style1.css">
<link rel="stylesheet" href="~/Content/bootstrap.css">
<link rel="stylesheet" href="~/Content/bootstrap.min.css">



    @using (Html.BeginForm("Create", "Usuarios", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <hr />
        <center>
            <div class="login-wrap1">
                <div class="login-html">
                    <input id="tab-1" type="radio" name="tab" class="sign-up" checked><label for="tab-1" class="tab">¡Registrate ya!</label>

                    <div class="login-form">

                        <div class="sign-up-htm">
                            <br />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div><br /><br />

                            <div class="form-group">
                                @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                                </div>
                            </div><br /><br />

                            <div class="form-group">
                                @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
                                </div>
                            </div><br /><br />

                            <div class="form-group">
                                @Html.LabelFor(model => model.Pass, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="password" name="Pass" class="form-control">
                                    @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                                </div>
                            </div><br /><br />

                            <div class="form-group">
                                @Html.LabelFor(model => model.Nick, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Nick, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nick, "", new { @class = "text-danger" })
                                </div>
                            </div><br /><br />

                            <div class="form-group">
                                @Html.LabelFor(model => model.Localidad, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Localidad, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Localidad, "", new { @class = "text-danger" })
                                </div>
                            </div><br /><br />

                            <div class="form-group">
                                @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-danger" })
                                </div>
                            </div><br /><br />

                            <div class="form-group">
                                @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                                </div>
                            </div><br /><br />


                            <div class="form-group">
                                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                </div>
                            </div><br /><br />

                            <div class="form-group">
                                @Html.LabelFor(model => model.Imagen, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="file" name="ImagenUsuario" />
                                    @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })
                                </div>
                            </div><br /><br />

                            <div class="form-group">
                                <p class="control-label col-md-2">¿Artista?</p>
                                <p style="text-align:left; margin-left:130px">
                                    <input style="margin-top:-20px" id="myCheck" onclick="addbox();" name="VisibleC" type="checkbox" />
                                </p>
                            </div><br /><br />

                            <script type="text/javascript">
                                function addbox() {
                                    if (document.getElementById('myCheck').checked) {
                                        document.getElementById('area').style.display = 'block';
                                    } else {
                                        document.getElementById('area').style.display = 'none';
                                    }
                                }
                            </script>
                            <div class="row" id="area" style="display: none;">
                                <div class="form-group" style="margin-top:-30px">
                                    <p class="control-label col-md-2" style="margin-left:18px">Apodo:</p>
                                    <div class="col-md-10">
                                        <input type="text" name="apodoartista" style="width:620px; margin-left:128px; margin-top:-38px" class="form-control text-box single-line" />

                                    </div>
                                </div><br /><br />
                            </div>

                            <br /><br />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-8">
                                    <input style="margin-top:-35px" type="submit" value="Crear nuevo usuario" class="btn btn-default" />
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </center>
    }
    <br />
    <br /><br /><br />
    <div class="col-md-12">
        <h5 align="center">@Html.ActionLink("Volver al inicio de sesión", "Principal", "Principal")</h5>
    </div>
    <br />
    <br />
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
