﻿@model Proyecto_Spot_it_Free.Usuario

@{
    ViewBag.Title = "Borrar Usuario";
}
<style>
    body {
        background-color: #464545;
        color: #ffffff;
    }
</style>
<body>
    <h2>Borrar Usuario</h2>

    <h3>¿Estás seguro de que quieres borrar este usuario?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apellidos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apellidos)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pass)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pass)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Localidad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Localidad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pais)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pais)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Imagen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Imagen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Codigo_validacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Codigo_validacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Validado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Validado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Artista.Nombre_artista)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artista.Nombre_artista)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Genero.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genero.Descripcion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-default" /> |
                @Html.ActionLink("Volver", "Index")
            </div>
        }
    </div>
</body>