﻿@model Proyecto_Spot_it_Free.Models.Explora

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Content/index.css">
<style>
    body {
        background-color: #464545;
        color: #ffffff;
    }
</style>
<hr />
<body>
    @{
      Usuario user = (Usuario)Session["Usuario"];
      if (Model.Local.Count > 1)
      {

        <p style="text-align:center">¡Descubre artistas en @user.Localidad!</p>
        <hr />

          foreach (var item in Model.Local)
          {

              if (item.Usuario1.Nick != user.Nick)
              {


            <a href="@Url.Action("Details", "Artistas", new { id = item.Usuario1.Nick })">
                <div class="thumbnail" style="display:inline-block;border:none;background:none">
                    <div class="img__wrap">
                        <img class="img" src="~/Images/@item.Usuario1.Imagen" width="280 px" height="280 px" style="" />
                        <h3 style="color:white; text-align:center">@item.Nombre_artista</h3>
                    </div>

                </div>
            </a>
              }
          }
      }

    }
    <hr />
    <p style="text-align:center">Descubre nuevas canciones</p>
    <hr />
    <table>
        <tr>
            @for (int i = 0; i < Model.Canciones.Count; i++)
            {
                <td>
                    <a class="" href="@Url.Action("Details","Canciones", new {id=Model.Canciones[i].Id })"><img class="img1" src="~/Images/audiodefault.jpg" border="2" height="200px" width="200px" style="margin-right:45px"> </a>
                </td>

            }
        </tr>
        <tr>
            @for (int i = 0; i < Model.Canciones.Count; i++)
            {
                <td style="text-align:center"><p>@Model.Canciones[i].Titulo</p></td>
            }
        </tr>
    </table>

    <hr />
    <p style="text-align:center">Descubre nuevos artistas </p>
    <hr />
    <table>
        <tr>
            @for (int i = 0; i < Model.Artistas.Count; i++)
            {
                <td>
                    <a class="" href="@Url.Action("Details","Artistas", new {id=Model.Artistas[i].Usuario1.Nick})"><img class="img" src="~/Images/@Model.Artistas[i].Usuario1.Imagen" border="2" height="200px" width="200px" style="margin-right:45px"> </a>
                </td>

            }
        </tr>
        <tr>
            @for (int i = 0; i < Model.Artistas.Count; i++)
            {
                <td style="text-align:center"><p>@Model.Artistas[i].Nombre_artista</p></td>
            }
        </tr>
    </table>

    <hr />
    <p style="text-align:center">Descubre nuevos discos </p>
    <hr />
    <table>
        <tr>
            @for (int i = 0; i < Model.Discos.Count; i++)
            {
                <td>
                    <a class="" href="@Url.Action("Details","Discos", new {id=Model.Discos[i].Id})"><img class="img1" src="~/Portadas/@Model.Discos[i].Imagen" border="2" height="200px" width="200px" style="margin-right:45px"> </a>
                </td>

            }
        </tr>
        <tr>
            @for (int i = 0; i < Model.Discos.Count; i++)
            {
                <td style="text-align:center"><p>@Model.Discos[i].Nombre</p></td>
            }
        </tr>
    </table>
</body>
